<!DOCTYPE html>
<html>
  <head>
    <title>TechChat</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
  </head>

<header>
 <div class="heder-title"><%= link_to 'TechChat',questions_path%></div>
 <div class= "question-button">
<%= link_to '質問する', new_question_path %>
</div>
</header>

  <body>
    <%= yield %>
  </body>
</html>
